html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    background-color: lightslategrey;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

body {
    color: #666;
    background: black;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
}

a {
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

div, h2, p {
    margin: 0;
    padding: 0;
}

.header {
    color: white;
    padding: 40px 0 20px;
    text-align: center;
}

    .header h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .header h2 a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        color: white;
        font-size: 20px;
        opacity: 0.5;
    }

        .header h2 a:hover {
            border-bottom-color: white;
            opacity: 1;
        }

.main {
    margin: 0 auto;
    max-width: 1040px;
    padding: 10px;
}

.column {
    flex: 1;
    flex-direction: column;
}

.column-item {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #666;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: auto;
    margin: 10px;
}

.article-body {
    display: flex;
    flex: 1;
    flex-basis: auto;
    flex-direction: column;
    padding: 20px;
}

.article-title {
    color: #333;
    flex-shrink: 0;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.2;
}

.article-content {
    display: block;
    width: 100%;
}

.article-info {
    display: flex;
    font-size: 0.85em;
    justify-content: space-between;
    margin-top: 10px;
}

.full-textarea {
    width: 100%;
    min-height: 200px;
    display: block;
    border: solid 2px #000;
    resize: none;
}

.left-textarea {
    width: 40%;
    min-height: 200px;
    float: left;
    border: solid 1px #000;
    resize: none;
}

.between-textarea {
    width: 20%;
    height: auto;
    float: left;
    border: solid 1px #fff;
    color: Black;
    text-align: left;
}

.right-textarea {
    width: 40%;
    min-height: 200px;
    color: Black;
    border: solid 1px #000;
    text-align: justify;
    resize: none;
}

.left-half {
    width: 40%;
    min-height: 200px;
    float: left;
    border: solid 1px #000;
    resize: none;    
}

.right-half {    
    width: 58%;
    min-height: 200px;
    color: Black;
    border: solid 1px #000;
    text-align: justify;
    resize: none;
    margin-left: 1%;
}
