<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="log" value="logs" />
    <add key="console" value="true" />

    <add key="webApiPort" value="8020" />
    <add key="ntlmEnabled" value="false" />
    <add key="ntlmAccounts" value="" />

    <!--Параметры сервиса-->
    <add key="ServiceName" value="Semantic.API.Service" />
    <add key="ServiceDescription" value="Предоставляет доступ к инструментам семантической обработки текста" />
    <add key="ServiceStartType" value="Automatic" />
    <add key="ServiceAccountType" value="User" />
    <add key="ServiceUserName" value="" />
    <add key="ServiceUserPassword" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
