<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>

    <add key="ServiceName" value="Watcher"/>
    <add key="ServiceKey" value="test.watcher"/>
    <add key="ServiceType" value="System"/>
    <add key="ServiceGroup" value="Test"/>
    <add key="Version" value="1.0.0.1"/>

    <add key="discovery" value="127.0.0.1:5012"/>

  </appSettings>
</configuration>
